<%- include('../partials/header') %>
<%- include('../partials/sidebar') %>

<link rel="stylesheet" href="/country.css">

<!-- Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<div class="country-wrapper">
  <h1>Explore Countries</h1>

  <div class="country-list">
    <% countries.forEach(country => { %>
      <div class="country-card">
        <% if (country.images && country.images.length > 0) { %>
          <!-- Swiper container -->
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <% country.images.forEach(img => { %>
                <div class="swiper-slide">
                  <img src="<%= img %>" alt="Country Image" class="country-image" />
                </div>
              <% }) %>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        <% } else { %>
          <div class="country-placeholder">No image</div>
        <% } %>

        <h2 class="country-name"><%= country.name %></h2>
      </div>
    <% }) %>
  </div>
</div>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Swiper init -->
<script>
  // Initialize all carousels
  document.querySelectorAll('.mySwiper').forEach(swiperEl => {
    new Swiper(swiperEl, {
      loop: true,
      pagination: {
        el: swiperEl.querySelector('.swiper-pagination'),
        clickable: true,
      },
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
    });
  });
</script>

<%- include('../partials/footer') %>
